.bg-black {
	background-color: $black;
}
.bg-casper {
	background-color: $casper;
}
.bg-navy {
	background-color: $navy;
}
// .bg-grey {
// 	background-color: $grey;
// }
// .bg-dryer-lint {
// 	background-color: $dryer-lint;
// }
// .bg-see {
// 	background-color: $see;
// }
// .bg-sky {
// 	background-color: $sky;
// }
// .bg-slate {
// 	background-color: $slate;
// }
// .bg-smoke {
// 	background-color: $smoke;
// }
// .bg-wet-cement {
// 	background-color: $wet-cement;
// }
