// Buttons

// mod-specific var colors
$button-bg-color:       $banana-peel;
$button-grad-start:     $banana-peel;
$button-grad-stop:      $orange;
$button-text-shadow:    $banana-peel;
$button-border-color:   $orange;
$button-color:          $charcoal;

.button {
    position: absolute;
    height: remCalc(70);
    width: remCalc(170);
    bottom: 0;
    left: remCalc(80);
    border: remCalc(1) solid $button-border-color;
    display: inline-block;
    cursor: pointer;
    color: $button-color;
    font-size: remCalc(16);
    font-style: italic;
    padding: remCalc(25) remCalc(24);
    text-decoration: none;
    -webkit-text-shadow: 0px remCalc(1) 0px $button-text-shadow;
       -moz-text-shadow: 0px remCalc(1) 0px $button-text-shadow;
            text-shadow: 0px remCalc(1) 0px $button-text-shadow;
    -webkit-box-shadow: 0px 0px remCalc(10) remCalc(2) rgba(0,0,0,0.25);
       -moz-box-shadow: 0px 0px remCalc(10) remCalc(2) rgba(0,0,0,0.25);
            box-shadow: 0px 0px remCalc(10) remCalc(2) rgba(0,0,0,0.25);
    background-color: $button-bg-color;
    background: -webkit-linear-gradient(top, $button-grad-start 5%, $button-grad-stop 100%);
       background: -moz-linear-gradient(top, $button-grad-start 5%, $button-grad-stop 100%);
        background: -ms-linear-gradient(top, $button-grad-start 5%, $button-grad-stop 100%);
         background: -o-linear-gradient(top, $button-grad-start 5%, $button-grad-stop 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $button-grad-start), color-stop(1, $button-grad-stop));
    background: linear-gradient(to bottom, $button-grad-start 5%, $button-grad-stop 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-grad-start', endColorstr='$button-grad-stop',GradientType=0);
    &.button-right {
        left: initial;
        right: remCalc(80);
    }
    &:hover {
        background-color: $button-grad-stop;
        background: -webkit-linear-gradient(top, $button-grad-stop 5%, $button-grad-start 100%);
           background: -moz-linear-gradient(top, $button-grad-stop 5%, $button-grad-start 100%);
            background: -ms-linear-gradient(top, $button-grad-stop 5%, $button-grad-start 100%);
             background: -o-linear-gradient(top, $button-grad-stop 5%, $button-grad-start 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $button-grad-stop), color-stop(1, $button-grad-start));
        background: linear-gradient(to bottom, $button-grad-stop 5%, $button-grad-start 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-grad-stop', endColorstr='$button-grad-start',GradientType=0);
    }
    .button-text {
        white-space: nowrap;
        @include center-align;
    }
}
