@media #{$small-up} {
	#back {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 50;
		// @include transition(all 0.5s ease-in-out);
	}
	#coming-soon-modal {
	  display: none;
	  width: 80%;
		max-height: 80%;
	  background-color: $casper;
	  border: 1px solid $see;
	  z-index: 100;
	  overflow-x: hidden;
	  overflow-y: scroll;
	  &::-webkit-scrollbar {
	  	display: none;
	  }
	  @include center-align($position: fixed,
	                        $orientation: "",
	                        $top: 50%,
	                        $left: 50%,
	                        $y: -50%,
	                        $x: -50%);
	  // @include transition(all 0.5s ease-in-out);
	  p {
	  	line-height: remCalc(24);
	  }
	  a {
	    position: absolute;
	    display: inline-block;
	    right: remCalc(4);
	    top: 0px;
	    z-index: 10;
	  }
	}
}

@media #{$medium-up} {
	#coming-soon-modal {
	  // width: remCalc(450);
		// height: remCalc(450);
	}
}

// @media #{$large-up} {
// }
