@media #{$small-up} {
	#back {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: rgba(0,0,0,0.625);
		z-index: 50;
	}
	.coming-soon-modal {
	  display: none;
		max-height: 80%;
	  background-color: $casper;
	  border: 1px solid $see;
	  z-index: 100;
	  overflow-x: hidden;
	  overflow-y: scroll;
	  box-shadow: 0px 0px remCalc(40) 0px rgba(0,0,0,0.5);
	  &::-webkit-scrollbar {
	  	display: none;
	  }
	  @include center-align($position: fixed,
	                        $orientation: "",
	                        $top: 50%,
	                        $left: 50%,
	                        $y: -50%,
	                        $x: -50%);
	  p {
	  	line-height: remCalc(24);
			&:first-of-type {
				margin-top: initial !important;
			}
	  }
	  a {
	    position: absolute;
	    display: inline-block;
	    margin-right: remCalc(30);
	    top: remCalc(2);
	    right: 0px;
	    z-index: 10;
		  h3 {
		  	position: relative;
		  	top: initial;
		  	left: initial;
		  	visibility: hidden;
		  	width: 0;
				-webkit-transform: scale(0.566667, 1);
						-ms-transform: scale(0.566667, 1);
								transform: scale(0.566667, 1);
		  }
		  .icon-cancel-circle {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				margin-top: remCalc(2);
				margin-left: remCalc(-20);
				color: $navy;
		  }
	  }
	  img {
	  	margin: remCalc(140) auto remCalc(20);
	  	display: block;
	  }
	}
}

@media #{$medium-up} {
	.coming-soon-modal {
		p {
			&:first-of-type {
				margin-top: remCalc(136) !important;
			}
		}
		a {
		  h3 {
		  	visibility: visible;
		  	width: initial;
		  }
		}
		img {
			float: right;
			margin-bottom: 0px;
			padding: 0px 0px remCalc(20) remCalc(40);
		}
	}
}

// @media #{$large-up} {
// }
