// Main tapestry (colored div behind main content)

// mod-specific vars
$page-title-color				: $text-color;
$page-title-margin-top	: $tapestry-margin-top; // from _tapestry.scss
$page-title-font-size		: remCalc(88);
$page-title-line-height	: remCalc(84);

#page-title-container {
	> div {
		position: relative;
	}
	margin-top: remCalc($page-title-margin-top);
	padding: remCalc(48) remCalc(32) remCalc(0);
	margin-bottom: remCalc(-48);
	h1 {
		color: $page-title-color;
		text-align: center;
		left: 50%;
		font-size: $page-title-font-size;
		line-height: $page-title-line-height;
		transform: translateX(-50%) scale(0.75, 1);
		text-shadow: 0px 0px 20px rgba(0,0,0,1);
    z-index: 10;
    position: absolute;
		span {
			&:first-of-type {
		    // letter-spacing: 6.5vw;
		    // overflow: hidden;
			}
			&:nth-of-type(2) {
		    // letter-spacing: 12.75vw;
		    // overflow: hidden;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	#page-title-container {
		h1 {
			font-size: remCalc(160);
			line-height: remCalc(144);
		}
	}
}
