// Main tapestry (colored div behind main content)

// mod-specific vars
$page-title-color				: $text-color;
$page-title-margin-top	: $tapestry-margin-top; // from _tapestry.scss
$page-title-font-size		: remCalc(88);
$page-title-line-height	: remCalc(68);

#page-title-container {
	> div {
		position: relative;
	}
	margin-top: remCalc($page-title-margin-top);
	padding: remCalc(48) remCalc(32);
	h1 {
		color: $page-title-color;
		text-align: center;
		font-size: $page-title-font-size;
		line-height: $page-title-line-height;
		transform: scale(0.75, 1);
		text-shadow: 0px 0px 20px rgba(0,0,0,1);
		span {
			&:first-of-type {
		    // letter-spacing: 6.5vw;
		    // overflow: hidden;
			}
			&:nth-of-type(2) {
		    // letter-spacing: 12.75vw;
		    // overflow: hidden;
			}
		}
	}
}
