// Main content panels

// mod-specific var colors
$panel-solo-color: $casper;
$panel-solo-bg-color: rgba(66, 86, 113, 0.75);
$panel-author-accent-color: #acd3f2;
$panel-book-1-accent-color: #f8d7a2;
$panel-book-2-accent-color: #7e0000;
$panel-text-bg-color: $background-color-primary;
$panel-border-color: lighten($primary-color, 50%);

// mod-specific var margins
$panel-margin-top: 150;

%inner-panel {
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	div.panel-image {
		position: absolute;
		img {
			width: 100%;
			box-shadow: 0px 0px remCalc(5) 0px rgba(0,0,0,0.5);
		}
	}
}

%panel-border {
	border-top: 1px solid $panel-border-color;
	border-bottom: 1px solid $panel-border-color;
	line-height: remCalc(44);
	padding-top: remCalc(4);
	&:before {
		content: " ";
		position: absolute;
		z-index: -1;
		top: remCalc(-7);
		left: remCalc(25);
		right: remCalc(25);
		bottom: remCalc(-7);
		border-top: 1px solid $panel-border-color;
		border-bottom: 1px solid $panel-border-color;
	}
}

%inner-content {
	background-color: $panel-text-bg-color;
	h2 {
		top: remCalc(58);
		text-align: center;
		@extend %panel-border;
	}
	h3 {
		top: remCalc(10);
		text-align: center;
	}
	p {
		&:first-of-type {
			margin-top: remCalc(132);
		}
	}
	span {
		&.letter-spacing-0 {
			letter-spacing: 0;
		}
	}
}

.panel-solo {
	@extend %inner-content;
	margin-top: remCalc(160);
	background-color: $panel-solo-bg-color;
	box-shadow: 0px 0px remCalc(20) 0px rgba(0,0,0,0.5);
	&:last-of-type {
		margin-top: remCalc($panel-margin-top);
		margin-bottom: remCalc($panel-margin-top);
		h2 {
			top: remCalc(24);
		}
		p {
			&:first-of-type{
				margin-top: remCalc(66);
			}
		}
	}
	h2, h3 {
		position: relative;
		color: $panel-solo-color;
		left: initial;
		-webkit-transform: translateX(-20%) scale(0.566667, 1);
				-ms-transform: translateX(-20%) scale(0.566667, 1);
						transform: translateX(-20%) scale(0.566667, 1);
	}
	h2 {
		border-top: none;
		border-bottom: none;
		&:before {
			content: " ";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: remCalc(-15);
			border-top: none;
			border-bottom: 1px solid 1px solid rgba(255, 255, 255, 0.5);
		}
	}
	p {
		&:first-of-type {
			margin-top: remCalc(98);
		}
		color: $panel-solo-color;
	}
}

.panel-author {
	div.panel-accent {
		@extend %inner-panel;
		margin-top: remCalc($panel-margin-top + 42);
		background-color: $panel-author-accent-color;
		@include opacity(0.9);
	}
	div.panel-text {
		@extend %inner-panel;
		@extend %inner-content;
	}
	div.panel-image {
		margin-top: remCalc(132);
		right: 0;
	}
}

.panel-book-1 {
	div.panel-accent {
		@extend %inner-panel;
		margin-top: remCalc($panel-margin-top);
		background-color: $panel-book-1-accent-color;
		@include opacity(0.9);
	}
	div.panel-text {
		@extend %inner-panel;
		@extend %inner-content;
	}
	div.panel-image {
		margin-top: remCalc(128);
		left: 0;
	}
}

.panel-book-2 {
	div.panel-accent {
		@extend %inner-panel;
		margin-top: remCalc($panel-margin-top + 42);
		background-color: $panel-book-2-accent-color;
		@include opacity(0.9);
	}
	div.panel-text {
		@extend %inner-panel;
		@extend %inner-content;
		p {
			&:first-of-type {
				margin-top: remCalc(176);
			}
		}
	}
	div.panel-image {
		margin-top: remCalc(176);
		right: 0;
	}
}

@media screen and (min-width: 460px) {
	.panel-book-1 {
		div.panel-image {
			margin-top: remCalc(56);
		}
	}
}

@media screen and (min-width: 642px) {
	.panel-author,
	.panel-book-1,
	.panel-book-2 {
		div.panel-accent {
		}
		div.panel-text {
		}
		div.panel-image {
			margin-top: initial;
			@include vertical-align(absolute, 50%, -50%);
			img {
				box-shadow: 0px 0px remCalc(20) 0px rgba(0,0,0,0.5) !important;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	%inner-panel {
		div.panel-accent {
		}
		div.panel-text {
		}
		div.panel-image {
			img {
			}
		}
	}
	.panel-solo {
		margin-top: remCalc(275);
	}
	.panel-author {
		@extend %inner-panel;
		div.panel-image {
			width: auto;
			margin-right: remCalc(-15);
		}
	}
	.panel-book-1 {
		@extend %inner-panel;
		div.panel-image {
			margin-left: remCalc(30);
		}
	}
	.panel-book-2 {
		@extend %inner-panel;
		div.panel-image {
			margin-right: remCalc(-15);
		}
	}
}
