// Main content panels

// mod-specific vars
$panel-author-accent-color: #acd3f2;
$panel-book-1-accent-color: #f8d7a2;
$panel-text-bg-color: $background-color-primary;

$panel-neg-margin: remCalc(-32);

%inner-panel {
	height: remCalc(150);
	// position: absolute;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.50);
	// overflow: hidden;
}

.panel-solo {
	
}

.panel-author {
	// position: relative;
	div.panel-accent {
		@extend %inner-panel;
		background-color: $panel-author-accent-color;
	}
	div.panel-text {
		@extend %inner-panel;
		background-color: $panel-text-bg-color;
		margin-top: $panel-neg-margin;
	}
}

.panel-book-1 {

}

.panel-book-2 {
	
}
