// CreightonPro
// @font-face {
//    font-family: 'CreightonProLight';
//    src: url('../fonts/creighton/CreightonProLight.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// Bebas-Neue
@font-face {
   font-family: 'bebas-neue-thin';
   src: url('../fonts/bebas-neue/BebasNeue Thin.otf') format('opentype');
   font-weight: normal; //Suposed to be "normal." Don't change.
   font-style: normal; //Suposed to be "normal." Don't change.   
}
@font-face {
   font-family: 'bebas-neue-light';
   src: url('../fonts/bebas-neue/BebasNeue Light.otf') format('opentype');
   font-weight: normal; //Suposed to be "normal." Don't change.
   font-style: normal; //Suposed to be "normal." Don't change.   
}
@font-face {
   font-family: 'bebas-neue-book';
   src: url('../fonts/bebas-neue/BebasNeue Book.otf') format('opentype');
   font-weight: normal; //Suposed to be "normal." Don't change.
   font-style: normal; //Suposed to be "normal." Don't change.   
}
@font-face {
   font-family: 'bebas-neue-regular';
   src: url('../fonts/bebas-neue/BebasNeue Regular.otf') format('opentype');
   font-weight: normal; //Suposed to be "normal." Don't change.
   font-style: normal; //Suposed to be "normal." Don't change.   
}
@font-face {
   font-family: 'bebas-neue-bold';
   src: url('../fonts/bebas-neue/BebasNeue Bold.otf') format('opentype');
   font-weight: normal; //Suposed to be "normal." Don't change.
   font-style: normal; //Suposed to be "normal." Don't change.   
}
// Gotham
// @font-face {
//    font-family: 'Gotham-XLight';
//    src: url('../fonts/gotham/Gotham-XLight.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'Gotham-XLightIta';
//    src: url('../fonts/gotham/Gotham-XLightIta.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'Gotham-Light';
//    src: url('../fonts/gotham/Gotham-Light.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'Gotham-Medium';
//    src: url('../fonts/gotham/Gotham-Medium.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'Gotham-MediumIta';
//    src: url('../fonts/gotham/Gotham-MediumIta.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// Quicksand
// @font-face {
//    font-family: 'Quicksand-Light';
//    src: url('../fonts/quicksand/Quicksand-Light.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'Quicksand-LightItalic';
//    src: url('../fonts/quicksand/Quicksand-LightItalic.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'Quicksand-Regular';
//    src: url('../fonts/quicksand/Quicksand-Regular.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'Quicksand-Italic';
//    src: url('../fonts/quicksand/Quicksand-Italic.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'Quicksand-Bold';
//    src: url('../fonts/quicksand/Quicksand-Bold.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'Quicksand-BoldItalic';
//    src: url('../fonts/quicksand/Quicksand-BoldItalic.otf') format('opentype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// Roboto
// @font-face {
//    font-family: 'RobotoLight';
//    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'RobotoLightItalic';
//    src: url('../fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'RobotoRegular';
//    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'RobotoRegularItalic';
//    src: url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'RobotoBold';
//    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'RobotoBoldItalic';
//    src: url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// Ubuntu
// @font-face {
//    font-family: 'UbuntuLight';
//    src: url('../fonts/ubuntu/Ubuntu-L.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'UbuntuLightItalic';
//    src: url('../fonts/ubuntu/Ubuntu-LI.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'UbuntuRegular';
//    src: url('../fonts/ubuntu/Ubuntu-R.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'UbuntuRegularItalic';
//    src: url('../fonts/ubuntu/Ubuntu-RI.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'UbuntuBold';
//    src: url('../fonts/ubuntu/Ubuntu-B.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
// @font-face {
//    font-family: 'UbuntuBoldItalic';
//    src: url('../fonts/ubuntu/Ubuntu-BI.ttf') format('truetype');
//    font-weight: normal; //Suposed to be "normal." Don't change.
//    font-style: normal; //Suposed to be "normal." Don't change.
// }
