// Base CSS
html {
	body {
		font-family: $font-family-serif;
		font-weight: $body-font-weight;
		font-size: $rem-base;
		background-color: $background-color-primary;
		// background: url(../../assets/img/wave2.jpg);
		overflow-y: scroll;
	}
}

%common-header-styles {
	display: inline-block;
  word-spacing: remCalc(15);
  letter-spacing: remCalc(16);
	position: absolute;
}

// h1 {
// 	font-size: $h1-font-size;
// 	// line-height: $h1-line-height;
// 	// font-weight: bold;
// 	// padding-top: $h1-padding-top;
// 	// padding-bottom: $h1-padding-bottom;
// }
h2 {
	// line-height: $h2-line-height;
	// font-weight: bold;
	// padding-bottom: $h2-padding-bottom;
	@extend %common-header-styles;
	font-size: $h2-font-size;
	color: $h2-color;
	left: 50%;
  white-space: nowrap;
  -webkit-transform: translateX(-50%) scale(0.566667, 1);
  		-ms-transform: translateX(-50%) scale(0.566667, 1);
  				transform: translateX(-50%) scale(0.566667, 1);
}
h3 {
	// line-height: $h3-line-height;
	// font-weight: bold;
	// padding-top: $h3-padding-top;
	@extend %common-header-styles;
	font-size: $h3-font-size;
	color: $h3-color;
	left: 50%;
  white-space: nowrap;
  -webkit-transform: translateX(-50%) scale(0.566667, 1);
  		-ms-transform: translateX(-50%) scale(0.566667, 1);
  				transform: translateX(-50%) scale(0.566667, 1);
}
// h4 {
// 	font-size: $h4-font-size;
// 	line-height: $h4-line-height;
// 	font-weight: bold;
// }
// h5 {
// 	font-size: $h5-font-size;
// 	line-height: $h5-line-height;
// 	font-weight: bold;
// }
// h6 {
// 	font-size: $h6-font-size;
// 	line-height: $h6-line-height;
// 	font-weight: bold;
// }
// a {
// 	font-size: $a-font-size;
// 	line-height: $a-line-height;
// 	text-decoration: none;
// 	color: $text-color;
// }
p {
	margin-bottom: remCalc(24);
	font-size: $p-font-size;
	font-style: italic;
	color: $p-color;
}
// li {
// 	font-size: $li-font-size;
// 	line-height: $li-line-height;
// }
// a, p, li {
// 	line-height: $default-line-height;
// }