// Base defaults

// mod-specific var colors
$panel-border-color: lighten($primary-color, 50%);

// placeholders
%common-header-styles {
	display: inline-block;
  word-spacing: remCalc(15);
  letter-spacing: remCalc(16);
	position: absolute;
	left: 50%;
  white-space: nowrap;
  // padding-left: remCalc(16);
  -webkit-transform: translateX(-50%) scale(0.566667, 1);
  		-ms-transform: translateX(-50%) scale(0.566667, 1);
  				transform: translateX(-50%) scale(0.566667, 1);
}

%panel-border {
	border-top: 1px solid $panel-border-color;
	border-bottom: 1px solid $panel-border-color;
	line-height: remCalc(44);
	padding-top: remCalc(4);
	&:before {
		content: " ";
		position: absolute;
		z-index: -1;
		top: remCalc(-7);
		left: remCalc(25);
		right: remCalc(25);
		bottom: remCalc(-7);
		border-top: 1px solid $panel-border-color;
		border-bottom: 1px solid $panel-border-color;
	}
}

// Base CSS
html {
	body {
		font-family: $font-family-serif;
		font-weight: $body-font-weight;
		font-size: $rem-base;
		background-color: $background-color-primary;
		// background: url(../../assets/img/wave2.jpg);
		overflow-y: scroll;
	}
}

// h1 {
// 	font-size: $h1-font-size;
// 	// line-height: $h1-line-height;
// 	// font-weight: bold;
// 	// padding-top: $h1-padding-top;
// 	// padding-bottom: $h1-padding-bottom;
// }
h2 {
	// line-height: $h2-line-height;
	// font-weight: bold;
	// padding-bottom: $h2-padding-bottom;
	@extend %common-header-styles;
	@extend %panel-border;
	top: remCalc(58);
	text-align: center;
	font-size: $h2-font-size;
	color: $h2-color;
}
h3 {
	// line-height: $h3-line-height;
	// font-weight: bold;
	// padding-top: $h3-padding-top;
	@extend %common-header-styles;
	top: remCalc(10);
	text-align: center;
	font-size: $h3-font-size;
	color: $h3-color;
}
// h4 {
// 	font-size: $h4-font-size;
// 	line-height: $h4-line-height;
// 	font-weight: bold;
// }
// h5 {
// 	font-size: $h5-font-size;
// 	line-height: $h5-line-height;
// 	font-weight: bold;
// }
// h6 {
// 	font-size: $h6-font-size;
// 	line-height: $h6-line-height;
// 	font-weight: bold;
// }
// a {
// 	font-size: $a-font-size;
// 	line-height: $a-line-height;
// 	text-decoration: none;
// 	color: $text-color;
// }
p {
	margin-bottom: remCalc(24);
	font-size: $p-font-size;
	font-style: italic;
	color: $p-color;
}
a {
	// text-decoration: none;
	&:link {
	    color: $a-color;
	}
	&:visited {
	    color: $a-color;
	}
	&:hover {
	    color: $a-color;
	}
	&:active {
	    color: $a-color;
	}
}
// li {
// 	font-size: $li-font-size;
// 	line-height: $li-line-height;
// }
// a, p, li {
// 	line-height: $default-line-height;
// }